@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.my-button {
    display: inline-block;
    margin: 46px; /* space between buttons */
    /*margin-left: 200px; */
    margin-top: 250px;
    background: rgb(206, 3, 12); /* background color */
    color: rgb(255, 255, 255); /* text color */
    font-size: 1.5em;
    font-family: ‘Georgia’, serif;
    /*font-style: italic; */
    border-radius: 0px; /* rounded corners */
    padding: 20px 150px; /* space around text */
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.my-button:hover {
    background: rgb(36, 32, 32);
    color: #d7e1e1;
}

.title {
    font-weight: bold;
    font-size: 50px;
    color: rgb(206, 3, 12);
    margin-top: 0px;
    vertical-align: middle;
}

.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}

img {
    width: 150px;
    margin-left: 10px;
 }

 .wrapper .sidebar{
    background: rgb(206, 3, 12);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    margin-top: 10%;
}