
.title {
    font-weight: bold;
    font-size: 55px;
    color: rgb(206, 3, 12);
    margin-top: 20px;
}
 img {
    width: 150px;
    margin-left: 30px;
 }

 .home-container{
background-color: lightgray;
padding: 40px;;
display: flex;
justify-content: space-evenly;
height: 100%;
 }

 .home-container .regis{
    color: yellow;
    background-color: rgb(206, 3, 12);
    font-weight: bolder;
    font-size: 20px;
    border-radius: 12px;
    padding: 24px;
 }

 .home-container .calendar{
    color: yellow;
    background-color: rgb(206, 3, 12);
    font-weight: bolder;
    font-size: 20px;
    border-radius: 12px;
    padding: 24px;
 }

 .proposal{
    color: yellow;
    background-color: rgb(206, 3, 12);
    font-weight: bolder;
    font-size: 20px;
    border-radius: 12px;
    padding: 24px;
 }

 .activity{
    color: yellow;
    background-color: rgb(206, 3, 12);
    font-weight: bolder;
    font-size: 20px;
    border-radius: 12px;
    padding: 24px;
 }

 .election{
    color: yellow;
    background-color: rgb(206, 3, 12);
    font-weight: bolder;
    font-size: 20px;
    border-radius: 12px;
    padding: 24px;
 }

 .bulletin{
    color: yellow;
    background-color: rgb(206, 3, 12);
    font-weight: bolder;
    font-size: 20px;
    border-radius: 12px;
    padding: 24px;
 }

 .footer{
    text-align:end;
 }
